* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

body {
  background-color: #28141f;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 1008px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
}

.header {
  height: 80px;
  margin-bottom: 50px;
}

.header__wrapper {
  align-items: center;
  height: 100%;
}

.brand {
  display: flex;
  margin-left: auto;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
}

.menu-list__item {
  margin-left: 30px;
}

.menu-list__item:first-child {
  margin-left: 0;
}

.menu-list__link--active,
.menu-list__link:hover {
  color: tomato;
}

.btn {
  display: block;
  height: 50px;
  min-width: 120px;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid white;
}

.btn--red {
  background-color: tomato;
  border: 1px solid tomato;
}

.btn:hover {
  background-color: tomato;
  border: 1px solid tomato;
}
.btn--red:hover {
  background-color: transparent;
  border: 1px solid white;
}

/* -------------------- main --------------- */

.main {
  height: calc(100vh - 130px);
}

.main__wrapper {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main__title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}

.main__subtitle {
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ghost-container {
  position: absolute;
  z-index: -1;
  right: 120px;
}

.ghost-container__text {
  opacity: 0.1;
  font-size: 120px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  margin-bottom: 10px;
  user-select: none;
}

.main__footer {
  width: 40%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

/* --- about page --- */
.about {
  justify-content: space-between;
}
.about__text {
  width: 65%;
}
.about__form {
  margin-left: 30px;
  width: 30%;
}

.form {
  flex-direction: column;
  display: flex;
}

.form__input {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 8px;
  height: 50px;
  outline: none;
  border: none;
}

.about__title {
  font-size: 36px;
  margin-bottom: 30px;
}
.form__textarea {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}

/* Services */

.services__wrapper {
  flex-direction: column;
}

.services__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.services__content {
  padding: 15px 0;
}

.service {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 15px;
}

.service__title {
  margin-bottom: 15px;
}

.serivce__skills {
  display: flex;
}
.service__skill {
  display: flex;
  margin-bottom: 10px;
  background-color: tomato;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}
.service__skill:first-child {
  margin-left: 0px;
}

/* hire me */
.hire-me {
  flex-direction: column;
}
.hire-me__title {
  margin-bottom: 20px;
}
.form__label {
  margin-bottom: 10px;
}

/* Adaptive */
@media (max-width: 768px) {
  .brand {
    display: none;
  }

  .nav {
    flex-direction: column;

    margin-top: 15px;
  }
  .header__wrapper {
    justify-content: center;
  }
  .wrapper {
    width: 600px;
  }
  .logo {
    margin-bottom: 30px;
  }

  .main__footer {
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }

  .about {
    flex-direction: column;
  }

  .about__text {
    width: 100%;
    margin-bottom: 40px;
  }

  .about__form {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 568px) {
  .wrapper {
    width: 400px;
  }
  .main__subtitle {
    font-size: 48px;
  }
  .ghost-container__text {
    font-size: 90px;
  }
  .btn {
    font-size: 14px;
  }
  .main__footer {
    width: 60%;
  }
  .ghost-container {
    right: -120px;
  }
}
